div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

.wrapper {
    display: flex;
    flex-wrap: row wrap;
    font weight: bold;
    text-align: center;
}

.header {
    width: 100%;
    background-color: tomato;
}

.footer {
    background-color: lightgreen;
}

.main {
    text-align: left;
    background-color: deepskyblue;
}

.aside-1 {
    background-color: gold;
}

.aside-2 {
    background-color: hotpink;
}

@media all and (min-width: 600px) {
    .aside {flex: 1 0 0}
}
@media all and (min-width: 800px) {
    .main {flex: 3 0px;}
    .aside-1 {
        order: -1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}

body {
    padding: 2em;
}